body {
  background: url("https://klike.net/uploads/posts/2020-09/1599896335_17.jpg")
    center / cover no-repeat;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  overflow: hidden;
}
.container {
}
.wrapper {
  max-width: 600px;
  margin: 5% auto;
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-row {
  position: relative;
  width: 600px;
  height: 519px;
  border-radius: 20px;
  overflow: hidden;
}
.slide {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 20px;
  opacity: 0;
  z-index: 0;
  transform: scale(1.5);
  transition: all 0.7s;
}
.slide1 {
  background: url("images/1.jpg") center / contain no-repeat;
  top: 0;
}
.slide2 {
  background: url("images/2.jpg") center / contain no-repeat;
  top: -100%;
}
.slide3 {
  background: url("images/3.jpg") center / contain no-repeat;
  top: -200%;
}
.slide4 {
  background: url("images/4.jpg") center / contain no-repeat;
  top: -300%;
}

#slide1:checked ~ .slider-row > .slide1,
#slide2:checked ~ .slider-row > .slide2,
#slide3:checked ~ .slider-row > .slide3,
#slide4:checked ~ .slider-row > .slide4 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.slider-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
}

.slider-controls {
  flex: 0 1 auto;
  text-align: end;
  display: flex;
  gap: 10px;
}

input {
  display: none;
}

label {
  cursor: pointer;
  display: flex;
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  background-color: rgb(70, 33, 32);
  transition: background ease-in-out 0.3s;
}

#slide1:checked ~ .slider-info > .slider-controls label:nth-of-type(1),
#slide2:checked ~ .slider-info > .slider-controls label:nth-of-type(2),
#slide3:checked ~ .slider-info > .slider-controls label:nth-of-type(3),
#slide4:checked ~ .slider-info > .slider-controls label:nth-of-type(4) {
  background: transparent;
  border: 4px solid rgb(70, 33, 32);
}

label:hover {
  background: rgb(150, 89, 87);
}

label:after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: 3px;
  top: 3px;
  border-radius: 50%;
}

.slider-text {
  flex: 1 1 auto;
  text-align: start;
  position: relative;
  height: 100%;
}

.text {
  position: absolute;
  top: 42%;
  left: 0;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.5s;
}

#slide1:checked ~ .slider-info > .slider-text p:nth-of-type(1),
#slide2:checked ~ .slider-info > .slider-text p:nth-of-type(2),
#slide3:checked ~ .slider-info > .slider-text p:nth-of-type(3),
#slide4:checked ~ .slider-info > .slider-text p:nth-of-type(4) {
  opacity: 1;
  transform: scale(1);
}
