body {
  background: url("https://klike.net/uploads/posts/2020-09/1599896335_17.jpg")
    center / cover no-repeat;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  overflow: hidden;
}
.container {
}
.wrapper {
  max-width: 600px;
  margin: 5% auto;
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-row {
  position: relative;
  width: 600px;
  height: 519px;
  border-radius: 20px;
  overflow: hidden;
}
.slide {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 20px;
  opacity: 0;
  z-index: 0;
  transform: scale(1.5);
  transition: all 0.7s;
}
.slide1 {
  background: url("images/1.jpg") center / contain no-repeat;
  top: 0;
}
.slide2 {
  background: url("images/2.jpg") center / contain no-repeat;
  top: -100%;
}
.slide3 {
  background: url("images/3.jpg") center / contain no-repeat;
  top: -200%;
}
.slide4 {
  background: url("images/4.jpg") center / contain no-repeat;
  top: -300%;
}

#slide1:checked ~ .slider-row > .slide1,
#slide2:checked ~ .slider-row > .slide2,
#slide3:checked ~ .slider-row > .slide3,
#slide4:checked ~ .slider-row > .slide4 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
